/* styling of logo */
.logo{
    height:150px;
    margin-top:10px;
}
.logo-image{
    height:100px;
    width:100px;
    margin-left:150px;
    margin-bottom:40px;
}
.logo-header{
    display:inline-block;
    color:white;
    font-family: 'Courgette', cursive;
    font-size:68px;
    margin-bottom:0;   
}
/* styling of logo ends here*/

/* styling of navbar starts from here*/
.navbar{
    margin-top:10px;
    height:100px;
    padding-left:50px;
    padding-right:50px;
}

.navbar-button{
    width:270px;
    height:80px;
    background-color:#050505;
    border:2px solid white;
    font-size:24px;
    font-weight:500;
    color:white;
}
/* styling of navbar ends here*/

.section-page{
    height:1000px;
    margin-top:20px;
    display:flex;
}
/* styling of sidebar starts from here*/
.sidebar{
    width:100px;
    height:400px;
    margin-top:90px;

}

.sidebar-button{
    text-align:center;
    width:100px;
    color:white;
    font-size:3rem;
    background-color:#6f4a8e;
    border-bottom:2px solid white;
    border-top:none;
    border-left:none;
    border-right:none;
}
/* styling of side bar ends here */

.content-page{
    width:1400px;
    padding-left:50px;
    padding-right:50px;
}
